# Clé d'API gratuite Web3Forms pour la réception des e-mails du formulaire de contact
# Obtenez votre clé instantanément en saisissant votre e-mail sur https://web3forms.com
PUBLIC_WEB3FORMS_ACCESS_KEY="VOTRE_CLE_WEB3FORMS_ICI"
