# Clé d'API gratuite Web3Forms pour la réception des e-mails du formulaire de contact
# Obtenez votre clé instantanément en saisissant votre e-mail sur https://web3forms.com
PUBLIC_WEB3FORMS_ACCESS_KEY="VOTRE_CLE_WEB3FORMS_ICI"

# URL de l'application Web Google Apps Script pour la synchronisation automatique dans Google Sheets
# Obtenue après déploiement du script Apps Script en application Web ("Exécuter en tant que : Moi", "Qui a accès : Tout le monde")
PUBLIC_GOOGLE_SHEETS_SCRIPT_URL=""
